<html>
<head>
    <title>Testing a collab-pad </title>
</head>

<body>
  <div width="800px">
  <iframe width="800px" height="400px" src="http://levski.cnd.mcgill.ca:8001/embedtest?fullScreen=1&sidebar=0" >
    </iframe>  

  </div>
  <div width="200px" style="float:right; margin-left:20px; background-color:blue; display:block;">
    This is some ghetto sidemenu

  </div>
  <div>
        <h2>How to use </h2>

    The original embed idea comes from the <a
href="http://etherpad.com/ep/blog/posts/embedding-etherpad">etherpad blog</a>.
    <br/>
    You can get the text source via this link: <a
href="http://levski.cnd.mcgill.ca:8001/ep/pad/export/embedtest/latest?format=txt">http://etherpad.com/ep/pad/export/$ep/latest?format=txt</a>.
    <br/>

    So basically we can use etherpad as a black box, off site service. 
    Each lesson gets assigned a "pad" and at the end of the session the 
    source gets copied into our system and the ethepad server could not 
    exist for all we know...

    <br/>
    We can have an etherpad for ANY TextArea in fact.... tries to lead a collab verison of the text
area if it fails then it just loads a regular textarea form.




</body>

</html>
