{% extends "base.html" %}

{% block title %}Chunker{% endblock %}

{% block content %}

<h2>Chunker</h2>

<div id="chunks" >

</div>

{% endblock %}

{% block sidebar %}

<h4>Chunk Funcs</h4>

<div class="sideblock">
<ul>
    <li><a href="#text" class="add">Add Text</a></li>
    <li><a href="#doc" class="add">Add Document</a></li>
    <li><a href="#audio" class="add">Add Audio</a></li>
    <li><a href="#video" class="add">Add Video</a></li>
    <li><a href="#link" class="add">Add Link</a></li>
</ul>
</div>

{% endblock %}

{% block add_js %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/chunker.js"></script>
{% endblock %}
